.vbox-item
	.vbox-voc and
	.vbox-memo
		.mbox-txt Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, error alias? Ea et vel quo debitis amet, quisquam sit, non reiciendis harum ipsam, quam nostrum. Minus, cum debitis? Neque, voluptate!
		div
			textarea.mbox-textarea(type='text')
			.mbox-editbox
				i(class="fas fa-check").mbox-update
				i(class="fas fa-trash-alt").mbox-delete
				i(class="fas fa-times").mbox-cancle
.vbox-item
	.vbox-voc and
	.vbox-memo
		.mbox-txt lorem
		div
			textarea.mbox-textarea(type='text')
			.mbox-editbox
				i(class="fas fa-check").mbox-update
				i(class="fas fa-trash-alt").mbox-delete
				i(class="fas fa-times").mbox-cancle
.vbox-item
	.vbox-voc and understand understand
	.vbox-memo
		.mbox-txt memo
		div
			textarea.mbox-textarea(type='text')
			.mbox-editbox
				i(class="fas fa-check").mbox-update
				i(class="fas fa-trash-alt").mbox-delete
				i(class="fas fa-times").mbox-cancle