.vbox-item
	.vbox-voc and
	.vbox-memo
		.mbox-input(contenteditable="false" data-edit='true') lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero tempora minus natus earum voluptate ipsum reprehenderit quod fugit. Voluptas deleniti obcaecati explicabo reprehenderit odio repudiandae sint recusandae unde doloribus impedit.
		.mbox-editbox
			i(class="fas fa-check").mbox-update
			i(class="fas fa-trash-alt").mbox-delete
			i(class="fas fa-times").mbox-cancle
.vbox-item
	.vbox-voc and
	.vbox-memo
		.mbox-input(contenteditable="false" data-edit='false') lorem
		.mbox-editbox
			i(class="fas fa-check").mbox-update
			i(class="fas fa-trash-alt").mbox-delete
			i(class="fas fa-times").mbox-cancle
.vbox-item
	.vbox-voc and understand understand
	.vbox-memo
		.mbox-input(contenteditable="false" data-edit='false') lorem
		.mbox-editbox
			i(class="fas fa-check").mbox-update
			i(class="fas fa-trash-alt").mbox-delete
			i(class="fas fa-times").mbox-cancle